<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - quizApp</title>
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/quizApp.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1 0 auto;
        }
    </style>
</head>

<body>
    <header>
        <ul id="slide-out" class="sidenav blue darken-4">
            <li>
                <div class="user-view">
                    <div class="background">
                    </div>
                    <span class="white-text name">CUESTONARIOS SOBRE TECNOLOGÍA</span>
                </div>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <br>
            <li>
                <!-- Modal Trigger -->
            <li><a class="waves-effect white-text" href="#!">Crear cuestionarios</a></li>
            </li>
            <li><a class="waves-effect white-text" href="#!">Resolver cuestionarios</a></li>
            <partial name="_Menu" />
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </header>
    <main>
        <partial name="_ModalLogin" />
        <partial name="_ModalRegister" />
        @RenderBody()
    </main>


    <footer class="page-footer blue darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Cuestinarios y respuestas</h5>
                    <p class="grey-text text-lighten-4">Puedes crear y responder cuestionarios para luego jugar</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Más aplicativos</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">gitlab</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2024 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">Jugando con.net en Ubunto</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
        });
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
        //modal
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, options);
        });
        $(document).ready(function () {
            $('.modal').modal();
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
