@{
    string Rol = ViewData["UserRole"]?.ToString() ?? "GUEST";
    string UserName = ViewData["UserName"]?.ToString() ?? "Invitado";
}


@if (Rol == "ADMIN")
{
    <li><a class="waves-effect white-text" href="#!">Editar cuestionarios</a></li>
    <li><a class="waves-effect white-text" href="#!">Eliminar cuestionarios</a></li>
    <span>Administrador: @UserName</span>
    <form asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
</form>

}
else if (Rol == "USER")
{
    <span>Usuario: @UserName</span>
    <form asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
</form>

}
else
{
    <li>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Registrarce</a>
</li>
    <li>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Ingresar</a>
</li>
}



