@{
    bool showModal = ViewContext.HttpContext.Request.Query["showModal"] == "true";
}
@model LoginViewModel;
<!-- Modal de Login -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Iniciar sesi칩n</h4>
    <form asp-action="Login" asp-controller="Home" method="post">
      <label for="loginEmail">Correo electr칩nico:</label>
      <input type="email" id="loginEmail" asp-for="Email" required>
      <span asp-validation-for="Email" class="text-danger"></span>
      
      <label for="loginPassword">Contrase침a:</label>
      <input type="password" id="loginPassword" asp-for="Password" required>
      <span asp-validation-for="Password" class="text-danger"></span>
      
      <button type="submit" class="btn">Iniciar sesi칩n</button>
    </form>
  </div>
</div>

@if (ViewContext.HttpContext.Request.Query["showModal"] == "true")
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('modal1');
            if (modal) {
                var instance = M.Modal.init(modal);
                instance.open();
            }
        });
    </script>
}

<script>
document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.modal');
    M.Modal.init(elems);

});
</script>

