@{
  ViewData["Title"] = "Crear Quiz";
  var questionList = ViewBag.questionList as IEnumerable<SaveQuestionDtos>;
}

<div class="container">
  <blockquote class="teal-text">
    <h3 class="flow-text grey-text text-darken-3" style="font-size: 1.8em;">Pasos para crear un cuestionario</h3>
  </blockquote>
  <ol>
    <li class="flow-text grey-text text-darken-3" style="font-size: 1.1em;">Elegir el tema de tu interés.</li>
    <li class="flow-text grey-text text-darken-3" style="font-size: 1.1em;">Rango de tiempo en minutos para resolver las
      preguntas.</li>
    <li class="flow-text grey-text text-darken-3" style="font-size: 1.1em;">Descripción del cuestionario.</li>
    <li class="flow-text grey-text text-darken-3" style="font-size: 1.1em;">Crear pregunta.</li>
    <li class="flow-text grey-text text-darken-3" style="font-size: 1.1em;">Cada pregunta tiene cuatro respuestas, solo
      una es verdadera.</li>
  </ol>
  <div class="row">
    <br>
    <form asp-action="CreateQuestionnarie" asp-controller="Questionnarie" method="post">
      <fieldset class="card-panel grey darken-3" style="border: 1px solid #0d47a1; border-radius: 0.3em;">
        <legend class="blue darken-4" style="padding: 0.5em; border-radius: 0.5em;">
          <h4 class="flow-text white-text" style="font-size: 1.3em;">
            Crear cuestionario
          </h4>
        </legend>

        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Tema" id="GroupQuestionName" name="GroupQuestionName" type="text" class="validate">
            <label for="GroupQuestionName">Nombre Cuestionario</label>
          </div>
          <div class="input-field col s6">
            <input id="ResponseTimeInMinutes" name="ResponseTimeInMinutes" type="number" class="validate">
            <label for="ResponseTimeInMinutes">Minutos</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="Description" name="Description" class="materialize-textarea"></textarea>
            <label for="Description">Descripción</label>
          </div>
        </div>
        <div class="row">
          <div class="file-field input-field col s6">
            <div class="btn">
              <span>Imagen</span>
              <input id="Image" name="Image" type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <div class="input-field col s6">
            <div class="switch">
              <label>
                Privado
                <input id="Access" name="Access" type="checkbox">
                <span class="lever"></span>
                Público
              </label>
            </div>
          </div>
        </div>
        @if (questionList != null && questionList.Any())
        {
          <button type="submit" class="btn">Crear Cuestionario</button>
        }
      </fieldset>
    </form>
    <!-- Vista parcial para preguntas -->


    <!-- Vista parcial adicional -->
    <partial name="Question" />
  </div>
  <div>
    <div class="row no-margin">
      <div class="input-field col s12">
        <!-- Botón que dispara el modal -->
        <a href="#modal" class="waves-effect modal-trigger btn-floating btn-medium scale-transition">
          <i class="material-icons">add</i>
        </a>
        <span class="grey-text text-lighten-2" style="font-size: x-small;">Agrega las preguntas y respuestas que
          consideres necesarias</span>
      </div>
    </div>
    <partial name="Questions" />
  </div>
  <br><br>
</div>


<script>



  // Inicializar el colapsable al cargar la página
  document.addEventListener('DOMContentLoaded', function () {
    let elems = document.querySelectorAll('.collapsible');
    let instances = M.Collapsible.init(elems, {}); // Opciones predeterminadas
  });


  // peticion



</script>